.Container{
    display: flex;
    justify-content: center;
    background:radial-gradient(circle,#faf7c6,#fab7ff);
}
.card-head img{
    width: 80%;
    
    border-radius: 50%;

}
.card-head{
    padding: 10px 10px;   
}
.card-head .image{
    display: flex;
    justify-content: center;
}
.card{
    background: linear-gradient(326deg, rgb(250, 170, 0) 0.00%, rgb(237, 19, 19) 50.00%, rgb(213, 74, 255) 100.00%);
    width: 500px;
}
.controls{
    display: flex;
    padding: 10px 0px;
    display: flex;
    gap: 20px;
}
.controls button{
    border: none;
    background:transparent;
    width: 100%;
    border-radius: 50px;
}
.controls .svg{
    font-size: 5rem;
}
.details h2 span,.details p span{
    font-weight: 800;
    margin-right: 5px;
    font-size: 1.5rem;
}